stages:
  - build

.deploy-template: &docker-base
  image: docker
  stage: build
  services:
      - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cd watchdog_be
  script:
    - docker pull $IMAGE_NAME || true
    - docker build --cache-from $IMAGE_NAME:$BRANCH_TAG --tag $IMAGE_NAME:$CI_COMMIT_SHA --tag $IMAGE_NAME:$BRANCH_TAG .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHA
    - docker push $IMAGE_NAME:$BRANCH_TAG

build:be:
  <<: *docker-base
  variables:
      IMAGE_NAME: $CI_REGISTRY/ilmannafian04/watchdog/watchdog_be
      BRANCH_TAG: latest
  # only:
    # - master

build:fe:
  <<: *docker-base
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cd watchdog_fe
  variables:
      IMAGE_NAME: $CI_REGISTRY/ilmannafian04/watchdog/watchdog_fe
      BRANCH_TAG: latest
  # only:
    # - master
